@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mali:wght@700&display=swap');

:root{
    font-family: mali,sans-serif;
    /* background-color: #fff9d3; */
    background-image: url('https://th.bing.com/th/id/OIP.9-8L8LmBpgWwD5-4saO5AQAAAA?rs=1&pid=ImgDetMain');
    background-position-y: 0px            ;
    background-size:90rem;
}

p{
    margin-left: 647px;
    margin-top: 28px;
    background-color: #e9a4d6;
    width: 132px;
    height: 271px;
    border: 1px solid black;
    overflow-y: scroll;
    padding-left: 47px;
}

h1{
    margin-left: 630px;
    color: #ffffff;
    -webkit-text-stroke: 1px black;
    margin-top: 50px;
}

form{
  margin-left: 608px;
    margin-top: -368px;
}

.box{
    width: 352px;
    height: 404px;
    background-color:#bad9b3;
    margin-left: 559px;
    border-radius: 30px;
    border: 1px solid black;
}
